*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(./img/background_image.jpg);
    color: rgb(169, 166, 166);
}

#container{
    max-width: 1240px;
    height: 1036px;
    background-color: rgba(0,0,0,0.4);
    margin: auto;
    margin-top: 30px;
}
#title{

    font-size: 60px;
    color: white;
    font-family: 'Bowlby One SC';
    font-style: normal;

}
span{
    color: #ff0000;
}

#header{
    text-align: center;
}

#description{
    font-family: 'Sorts Mill Goudy', serif;
    font-style: italic;
    /* color: white; */
}

textarea{
    resize: none;
}
#survey-form{
    width: 500px;
    background-color: rgba(0,0,0,0.8);
    margin: auto;
    padding: 30px 40px;
}

#name, 
#age, 
#email, 
#dropdown,
#feedback{
    width: 100%;
    padding: 12px 10px;
    margin-top: 10px;
}

.inputbox{
    margin-top: 20px;

}
#form-button{
    width: 160px;
    height: 45px;
    background-color: red;
    color: white;
    border-radius: 50px;
    border: none;
    cursor: pointer;
}
.form-submit{
    margin: auto;
    width: 100px;
    margin-top: 15px;

}
#form-button:hover{
    background-color: white;
    color: red;
}
#movietype, #gender{
    margin-top: 40px;
}
